@font-face {
    font-family: "Heavitas";
    src: url("/fonts/Heavitas.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nexa";
    src: url("/fonts/Nexa-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Nexa";
    src: url("/fonts/Nexa-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Simply Rounded";
    src: url("/fonts/Simply-Rounded-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}