@use "./debug.scss";
@use "./lenis.scss";
@import url("./fonts.scss");

@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
    width: 100vw;
    height: 100vh;
}

body {
    overflow-x: hidden;
    // overflow-y: auto;
}