@import url("./fonts.scss");

@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
    width: 100vw;
    height: 100vh;
    // overflow-x: hidden;
    // overflow-y: auto;
}

* {
    outline: 1px solid red;
}